/********** Base styles **********/
* {
  box-sizing: border-box;

  padding: 5px;
  margin:  0px; 
  border: 0px;
}

h1 {
  margin-bottom: 15px;
}

p {
  border: 2px solid black;
  width: 100%; /** so that it doesn't take up all of the grid, we have some padding on the edges ***/
 

  font-family: Helvetica;
  color: black;
  padding-top: 50px;


}


.MenuDescription {
  background-color: lightgrey;
   min-height: 200px;  
  height:   auto;


}

.Header {
  float:  right;
  postion: relative;
  width: 20%;
  height: 10%;
  text-align: center;
  color: black;
  border: 2px solid black;
  font-family: Helvetica;
  padding: 10px;
  padding-left: 10px;
  padding-right:  10px;
  font-weight: bold;


}


/*#p1 {
  background-color: blue;
  position: relative;
  float: right;
  width: 20%;
  height: 10%;
  text-align: center;
  right: 5%;
}*/

/* Simple Responsive Framework. */
.row {
  width: 100%;
  overflow:hidden;
height:1%;
}



/********** Large devices only at least 1200px wide usually **********/
@media (min-width:992px) {
  .largebrowser, .largebrowser2  {
    float: left;
    top: 0px;
    right: 0px;
  }
 
    .largebrowser {
      width: 50%;
    }
    .largebrowser2 {
      width: 100%;
    }
  }

/********** Medium devices only **********/
@media (min-width:768px) and (max-width:991px) {
    .mediumbrowserline1, .mediumbrowserline2 {
      float: left;
      top: 0px;
      right: 0px;
    }
    .mediumbrowserline1{
      width:  50%;
    }
    .mediumbrowserline2{
      width:  100%;
    }
}


/********** Mobile devices only **********/
@media (max-width:767px) {
  .smallbrowser{
width: 100%;
  }

}
