/********** Base styles **********/

{
  box-sizing: border-box;

  padding: 5px;
  margin:  0px; 
  border: 0px;

}
/** HEADER **/


 #navbar-header{
 	border-radius: 0;
 	border: 0;
 	height: 100px;
    background-color: green;
     	}


}
 #navbar-brand{

 }

 #maintext{
    height: 1000px;
    background-color: green;
    padding: 10px;
    margin: 10px;
 }

/** BODY ***/
body {
   overflow-x: hidden; /* Hide horizontal scrollbar */
  
}
 @media (min-width: @screen-sm-min){
  .content-main{
    float: center;
  margin:  20px; 
    border: 20px;
    padding: 5px;
  }

  .content-main{
   width: 80%;
  }
}

